.LoginBody {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.info {
    width: 50%;
}

.title {
    font-size: 50px;
    margin: 0 0 25px 0;
    padding: 0;
}

.desc {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.registerBox {
    background: #1F1F1F;
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.registerForm {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    background: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 94%;
    margin-block: 10px;
    padding-block: 15px;
    color: white;
    padding-inline: 3%;
}

.selectContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.select {
    display: flex;
    justify-content: start;
    height: 35px;
    align-items: center;
}

.selectBox {
    margin: 0 0 0 15px;
    padding: 2px;
    background: transparent;
    border: 1px solid #D9D9D9;
    color: #D9D9D9;
    color-scheme: dark;
    border-radius: 5px;
}

.submitButton {
    width: 100%;
    height: 50px;
    background-color: #03DAC6;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}

.submitButton {
    cursor: pointer;
}

.inputBox::placeholder {
    color: #D9D9D9;
    font-size: 15px;
}

.buttonContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

