.Footer {
    width: 100%;
    height: 120px;
    color: white;
    background-color: #1F1F1F;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}